@model IEnumerable<OZO.Models.PosaoOprema>

@{
    ViewData["Title"] = "Index";
}

<h1>Poslovi - Oprema</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Napravi vezu P / O</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID - Oprema
            </th>
            <th>
                ID - Posao
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOpremaNavigation.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPosaoNavigation.Naziv)
            </td>
            <td>
                <a class="btn btn-warning" role="button" asp-action="Edit" asp-route-id="@item.Id">Uredi</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detalji</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
